nav{
    position: sticky;
    z-index: 1;
    background-color: var(--White);
    top: 0;
    height: 80px;
}
nav .container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 var(--main-side-padding);
}

.navBarMobile{
    display: block;
    position: absolute;
    background-color: var(--White);
    padding: 30px 20px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70%;

    
}
.navBarMobile ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    padding-top: 50px;
    
}
.navBarDesktop{
    display: none;
}


.userImg{
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.userImg img{
    
    width: 100%;
    height: 100%;
}
nav li:hover {
    border-bottom:3px solid var(--Orange);
    margin-bottom: 0px;
    height: 100%;
}
li{
    height: fit-content;
    
}

@media(min-width:768px){
    nav .container{
        padding: unset;
        border-bottom: 1px solid var(--Grayish-blue);
    }
    nav{
        /* z-index: unset; */
        position: static;
        height: 120px;
    }
    .navBarMobile{
        display: none;
    }
   
    nav .navBarDesktop{
        display: block;
        position: static;
        height: 100%;
        background-color: var(--White);
    
    }
    .navBarDesktop ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px; 
    }

    .userImg{
        width: 50px;
        height: 50px;
    }
}

@media(min-width:1200px){
    .navBarWideScreen ul{
        gap: 40px;
    }

}